footer,header{
    background-color: #111111;
    color: white;
}
header{
    border-bottom: 1px solid #707070;
}
footer{
    border-top: 1px solid #707070;
}
.App{
    background-color: #111111;
    color: white;
}
.justify-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
header a{
    color: white;
    text-decoration: none;
}
.homePage img{
    max-height: 400px;
object-fit: contain;
}
.homePage .hero-section img{
    max-height: 600px;
    float: right;
}
.exerciseSelection button{
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 0px;
    border: 0px;
}
.exerciseSelection button:hover{
    background-color: #f79518;
}
.evelExercise{
    margin-bottom: 40px;
}
.levelExercise button{
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 0px;
    border: 0px;
    height: 60px;
}
.levelExercise button:hover{
    background-color: #f79518;
}
.levelExercise{
    margin-bottom: 40px;
    margin-top: 40px;
}
.exerciseList input{
    border: 0px;
    box-shadow: unset;
height: 30px;
    width: 30px;
    border-radius: 0px !important;
}
.exerciseList input:checked{
    background-color: #f79518;
    border: 0px;
    box-shadow: unset;
}
.form-check {
    height: 50px;
}
.form-check label{
    line-height: 40px;
    padding-left: 10px;
}
.registration,.login{
    background-color: white;
}
.registration input{
    border: 1px solid black;
    color: black;
}
.registration{
    color: black;
}
.registration input::placeholder{
    color: black;
}
.login input{
    border: 1px solid black;
    color: black;

}
.login .form-group{
    max-width: 600px;
    display: block;
    margin: 0 auto;
}
.login{
    color: black;
    margin: 40px auto;
    padding: 30px 0px;
}
.registration{
    color: black;
    margin: 40px auto;
    padding: 60px 0px;
}
.login input::placeholder{
    color: black;
}
.registration .form-group{
    max-width: 600px;
    display: block;
    margin: 0 auto;
}
.registration .btn{
    background-color: black;
    margin: 0 auto;
    display: block;
    border: 0px;
    box-shadow: 0px;
    border-radius: 0px !important;
}
.login .btn{
    background-color: black;
    margin: 0 auto;
    display: block;
    border: 0px;
    box-shadow: 0px;
    border-radius: 0px !important;

}
.login .btn:hover{
    background-color: #f79518;
}
.registration .btn:hover{
    background-color: #f79518;
}
.login .logo-image{
    margin: 0 auto;
    display: block;
}
.registration .logo-image{
    margin: 0 auto;
    display: block;
}

.form-check-label {
    display: flex;
    flex-wrap: wrap;
}
.tooltip{
    background-color: white;
    width: 300px;
    padding: 20px;
    z-index: 999 !important;
    color: black;
    border-radius: 25px;
}
.exercise_label:hover + .tooltip{
    opacity: 1 !important;
}
.container {
    padding: 60px 0px;
}
.congrats-popup{
    background-color: white;
color: black;
    padding: 20px;
    border-radius: 25px;
}

.congrats-popup p{
    text-align: center;
    font-size: 20px;
}
.congrats-popup{
    position: absolute;
    top: 20%;
    left: 25%;
}
.exerciseList{
    position: relative;
}
.congrats-popup input:checked {
    background-color: #f79518 !important;
    border: 0px;
    box-shadow: unset;
}
.exercise_label{
    margin-left:10px;
}
.congrats-popup .tooltip{
    background-color: black;
    color: white;
}
.congrats-popup  button{
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: unset;
    border:unset;
}
.congrats-popup  button img{
    max-width: 20px;
}
.statiscticContainer{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    color: black;
    padding: 30px 10px;
    border-radius: 20px;
}

.login{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
}
.login .logo-image{
    max-height: 100px;
}
.logo-image{
    max-height: 75px;
}

.homePage img{
    border-radius: 25px;
}

.chooseExerciseBox button{
    padding: 20px 10px;
    border-radius: 20px;
}
 button:active{
    background-color: #f79518 !important;
}

 .chooseExerciseBox span{
     width: 100%;
     display: block;
     font-weight: bold;
 }

 .exerciseSelectionContainer{
     max-width: 1000px;
     margin: 0 auto !important;
 }
.container{
    min-height: 80vh;
}
@font-face {
    font-family: 'Didact Gothic';
    src: url('DidactGothic-Regular.ttf') format('woff2'),
    url('DidactGothic-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Didact Gothic', sans-serif !important;
}
.login,.registration{
    max-width: 700px !important;box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;

}
.registration{
    max-height: 500px !important;
    min-height: unset;
}
.login input{
    box-shadow: unset !important;
    outline: unset !important;
border: 1px solid black !important;
}

.statistcText{
    font-size: 22px;
}
.statistcText span{
    color: #f79518;
    font-weight: bold;
}
.statiscticContainer{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}
.exercisesContainer{
    max-width: 600px;
    margin: 0 auto;
}
.datePicker {
    text-align: center;
    margin-bottom: 50px;
}
.datePicker span{
    color: #f79518;
}
.crud .btncrud {
    background-color: #f79518 !important;
    border: unset;
}
.crud .btn-danger {
    background-color: #dc3545 !important;
}
.crud .btn-danger:hover{
    opacity: 0.8;
}
.crud .tn-secondary{
    background-color: #6c757d !important;color: white;
}
.crud .tn-secondary:hover{
    opacity: 0.8;
    color: white;
}

.statiscticContainer
    .btn{
        background-color: #f79518 !important;
        border: unset;
    }

.sc-jTzLTM,.gKyapV ,.dsKVpZ{
    background-color: #f79518 !important;
color:white !important;
}
.registration .btn{
    padding: 10px 30px !important;
    border-radius: 20px !important;
}

.top10{
    max-width: 600px;
    text-align: center;
    margin: 30px auto;
}
.top10 li{
    border: 1px solid ;
    list-style: none;
    margin: 10px;
    padding: 20px;
}
.top10 li span{
         color: #f79518;;
}
.top10 ul{
    padding: unset;
}
.top10 h2{
    text-align: center;
}
.header-link img{
    margin: 0 auto;
    display: block;

}


.header-link .menuitem{
    padding: 10px; background-color: #333333;    border-radius: 100%;
    max-width: 40px;
    margin: 0 auto;
}
.congrats-popup .form-check-label{
    height: 50px;
}
.congrats-popup input{
    border: 1px solid ;
}
.congrats-popup input:checked {
    background-color: #f79518;
    border: 0px;
    box-shadow: unset;
}

.congrats-popup{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.helloUser{
    text-align: center;
}
